.popup__window {
    margin-top: 123px;
    width: 282px;
    height: 322px;
    background: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
   align-items: center;

}

@media screen and (min-width: 1280px) {
    .popup__window {
        margin-top: 195px;
        width: 430px;
        height: 330px;
    }
}